<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fs="http://xmlns.jcp.org/jsf/passthrough">

	<ui:composition template="/layouts/CommonLayout.xhtml">
		<ui:define name="title">Address Information</ui:define>
		<ui:define name="common-content">
			<div align="center">
			<h:form>
				<!-- Get the address 1 field -->
				<h:inputText value="#{mailAddress.address1}" id="address1" fs:placeholder="Address 1"/>
				<div class="error-message"><h:message for="address1"/></div><br/>
				<!-- Get the address 2 field -->
				<h:inputText value="#{mailAddress.address2}" id="address2" fs:placeholder="Address 2"/>
				<div class="error-message"><h:message for="lastName"/></div><br/>
				<!-- Get the address 3 field -->
				<h:inputText value="#{mailAddress.address3}" id="address3" fs:placeholder="Address 3"/>
				<div class="error-message"><h:message for="address3"/></div><br/>
				<!-- Get the Country field -->
				<h:inputText value="#{mailAddress.country}" id="country" fs:placeholder="Country"/>
				<div class="error-message"><h:message for="country"/></div><br/>
				<!-- Get the city field -->
				<h:inputText value="#{mailAddress.city}" id="city" fs:placeholder="City"/>
				<div class="error-message"><h:message for="city"/></div><br/>
				<!-- Get the state -->
				<h:inputText value="#{mailAddress.state}" id="state" fs:placeholder="State"/>
				<div class="error-message"><h:message for="state"/></div><br/>
				<!-- Get the zip -->
				<h:inputText value="#{mailAddress.zip}" id="zip" fs:placeholder="Zip" />
				<div class="error-message"><h:message for="zip"/></div><br/>
				
				<h:commandButton value="Save" />
			</h:form>
		</div>
		</ui:define>
	</ui:composition>
</html>