<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/layouts/CommonLayout.xhtml">
		<ui:define name="title">Browse Products</ui:define>
		<ui:define name="common-content">
			<div align="center">
				<div id="action" class="row">
					<div class="row-title">
						<h:outputText value="Action"/>
					</div>
					<ui:repeat var="movie" value='#{navigationController.movieService.getMoviesByType()}'>
						<div class="single-content">
							<div class="image">
								<h:graphicImage id="#{movie.title}image" url="#{movie.imageURI}" height="333" width="225" /><br/>
							</div>
							<div class="movie-information">
								<h:outputText value="#{movie.title}" /><br/>
								<h:outputText value="Purchase: #{movie.buyPrice}" />
								<h:outputText value="Rent: #{movie.rentPrice}"/><br/>
							</div>
						</div>
					</ui:repeat>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</html>