<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fs="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<ui:composition template="/layouts/CommonLayout.xhtml">
		<ui:define name="title">Payment Information</ui:define>
		<ui:define name="common-content">
			<div align="center">
			<div align="center">
			<!-- Get the card information -->
			<h:form id="card-info">
				<!-- Get the card number -->
				<h:inputText value="#{card.number}" id="card-number" fs:placeholder="Card Number"/>
				<div class="error-message"><h:message for="card-number"/></div><br/>
				<!-- Name on Card -->
				<h:inputText value="#{card.nameOnCard}" id="card-name" fs:placeholder="Name on Card"/>
				<div class="error-message"><h:message for="card-name"/></div><br/>
				<!-- Expiration date -->
				<h:inputText value="#{card.exDate}" id="card-date" fs:placeholder="Expiration Date"><f:convertDateTime pattern="MM/yy"/></h:inputText>
				<div class="error-message"><h:message for="card-date"/></div><br/>
				<!-- CCV -->
				<h:inputText value="#{card.ccv}" id="card-ccv" fs:placeholder="CCV Code"/>
				<div class="error-message"><h:message for="card-ccv"/></div><br/>
				
					<h:commandButton action="#{userController.SaveCard(card)}" value="Save" rendered="#{card.cardId == -1}"/>
					<h:commandButton action="#{userController.UpdateCard(card)}" value="Update" rendered="#{card.cardId != -1}"/>
				
			</h:form>
		</div>
			<h:form id="address-info">
				<!-- Get the address 1 field -->
				<h:inputText value="#{bill.address1}" id="address1" fs:placeholder="Address 1"/>
				<div class="error-message"><h:message for="address1"/></div><br/>
				<!-- Get the address 2 field -->
				<h:inputText value="#{bill.address2}" id="address2" fs:placeholder="Address 2"/>
				<div class="error-message"><h:message for="address2"/></div><br/>
				<!-- Get the address 3 field -->
				<h:inputText value="#{bill.address3}" id="address3" fs:placeholder="Address 3"/>
				<div class="error-message"><h:message for="address3"/></div><br/>
				<!-- Get the Country field -->
				<h:inputText value="#{bill.country}" id="country" fs:placeholder="Country"/>
				<div class="error-message"><h:message for="country"/></div><br/>
				<!-- Get the city field -->
				<h:inputText value="#{bill.city}" id="city" fs:placeholder="City"/>
				<div class="error-message"><h:message for="city"/></div><br/>
				<!-- Get the state -->
				<h:inputText value="#{bill.state}" id="state" fs:placeholder="State"/>
				<div class="error-message"><h:message for="state"/></div><br/>
				<!-- Get the zip -->
				<h:inputText value="#{bill.zip}" id="zip" fs:placeholder="Zip" />
				<div class="error-message"><h:message for="zip"/></div><br/>
				
				<h:commandButton action="#{userController.SaveBillingAddress(bill)}" value="Save" rendered="#{bill.billingId == -1}"/>
				<h:commandButton action="#{userController.UpdateBillingAddress(bill)}" value="Update" rendered="#{bill.billingId != -1}"/>
			</h:form>
		</div>
		</ui:define>
	</ui:composition>
</html>