<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fs="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="layouts/CommonLayout.xhtml">
	<ui:define name="title">Registration Menu</ui:define>
	<ui:define name="common-content">
		<div align="center">
			<h:form enctype="multipart/form-data">
				<!-- Get the movie title -->
				<h:inputText value="#{movie.title}" id="title" fs:placeholder="Title" />
				<div class="error-message"><h:message for="title"/></div><br/>
				<!-- Get the purchase price -->
				<h:inputText value="#{movie.buyPrice}" id="purchase-price" fs:placeholder="Purchase Price"/>
				<div class="error-message"><h:message for="purchase-price"/></div><br/>
				<!-- Get the rent price -->
				<h:inputText value="#{movie.rentPrice}" id="rent-price" fs:placeholder="Rent Price"/>
				<div class="error-message"><h:message for="rent-price"/></div><br/>
				<!-- Get the genre -->
				<h:inputText value="#{movie.genre}" id="genre" fs:placeholder="Genre"/>
				<div class="error-message"><h:message for="genre"/></div><br/>
				<!-- Get the movie summary -->
				<h:inputTextarea value="#{movie.summary}" id="summary" fs:placeholder="Summary" rows="5" cols="50"/>
				<div class="error-message"><h:message for="summary"/></div><br/>
				
				 <h:inputFile value="#{movieController.imageFile}"/>
				<!-- TODO find a way to input an image file -->
				
				<h:commandButton action="#{movieController.addMovie(movie)}" value="Add Movie"  />
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>