<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fs="http://xmlns.jcp.org/jsf/passthrough"> 

<ui:composition template="/layouts/CommonLayout.xhtml">
	<ui:define name="title">Login Menu</ui:define>
	<ui:define name="navigation-bar">
		<h4>Welcome to Movie Madness! Please Sign in to view our products.</h4>
	</ui:define>
	<ui:define name="common-content">
		<div align="center">
				<h:form>
					<h:inputText value="#{user.userName}" id="userName" fs:placeholder="User Name"/>
					<div class="error-message"><h:message for="userName"/></div><br/>
					<h:inputSecret value="#{user.password}" id="password" fs:placeholder="Password"/>
					<div class="error-message"><h:message for="password"/></div><br/>
					<h:commandButton action="#{userController.onLogin(user)}" value="Login" id="login-button" />
					<h:link value="Register" outcome="Register" id="register-button"/> 
				</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>