<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fi="http://xmlns.jcp.org/jsf/html">

	<ui:composition template="/layouts/CommonLayout.xhtml">
		<ui:define name="title"></ui:define>
		<ui:define name="common-content">
		<fi:inputFile></fi:inputFile>
		</ui:define>
	</ui:composition>
</html>