<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition>
		<div id="navbar">
			<h:link value="Browse Product" outcome="BrowseAll" class="nav-bar-button"/>
			<h:link value="Address Info" outcome="AddressInfo" class="nav-bar-button"/>
			<h:link value="User Info" class="nav-bar-button"/>
			<h:link value="Payment Info" class="nav-bar-button"/>
			<h:link value="Log out" id="logout-button" outcome="Login" class="nav-bar-button"/>
		</div>
	</ui:composition>
</html>