<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<h:head>
		<title><ui:insert name="title">Movie Madness</ui:insert></title>
		<h:outputStylesheet library="css" name="NavBar.css"/>
		<h:outputStylesheet library="css" name="CommonStyle.css"/>
	</h:head>
	
	<h:body>
		<div id="page">
			<!-- Insert Navigation Bar -->
			<div id="navigation-bar" align="center">
				<ui:insert name="navigation-bar">
					<ui:include src="/layouts/_NavBar.xhtml"/>
				</ui:insert>
			</div>
			
			<!-- Insert Content -->
				<ui:insert name="common-content">
					<ui:include src="/layouts/_NoContent.xhtml"/>
				</ui:insert>
			
			<!-- Insert Footer -->
			<div id="footer" align="center">
				<ui:insert name="footer">
					<ui:include src="/layouts/_Footer.xhtml"/>
				</ui:insert>
			</div>
		</div>
	</h:body>
</html>