@charset "ISO-8859-1";
body{
  background-color: #942431;
}
a:link, a:visited {
  border-style: outset;
  border-color: black;
  border-width: 1px;
  border-radius: 5%;
  background-color: #ecedee;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
form{
  border-style: solid;
  border-width: 1px;
  background-color: white;
  margin: auto;
  margin: 10% 40% 0 40%;
  width: 20%;
  overflow: auto;
}
form input{
  width: 100%;
  padding: 12px 20px;
  margin: 1% 0;
  box-sizing: border-box;
}

form input[type=submit]{
  width: 50%;
  padding: 3% ;
  margin: 1% 25% 2px 25%;
  box-sizing: border-box;
}
.error-message{
  color: red;
}

table {
  border-style: solid;
  border-width: 2px;
  margin: auto;
  margin: 10% 50% 0 35%;
  width: 20%;
  overflow: auto;
}
table tbody th{
   border-width: 2px;
  border-style: none none solid none;
  border-color: black;
}
table tbody td {
  border-width: 1px;
  border-style: none none solid none;
  border-color: black;
}

.row{
  margin-top: 1%;
  display: -moz-inline-box;
}

.row .single-content{
  
  margin-left: 10px;
}

.row-title{
  font-style: bold;
  font-size: 200%;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}