@charset "ISO-8859-1";

#navbar{
	background-color: #940011;
	overflow: hidden;
  padding-top: 0;
}

.nav-bar-button{
  float: left;
  text-align: center;
  width: 10%;
  text-decoration: none;
  font-size: 100%;
}

#logout-button{
  float: right;
}

.nav-bar-button:link, .nav-bar-button:visited {
  background-color: #b80015;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.nav-bar-button:hover, .nav-bar-button:active {
  background-color: #e6001b;
  
}